<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Document</title>
</head>
<body>

<div class="container mt-5">
	<div class="row">
		<div class="col-xs-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
							</div>
							<div class="col-xs-6">

									<a href="/" class="btn btn-primary btn-sm btn-block"></><span class="glyphicon glyphicon-share-alt"></span> Continue shopping</a>

							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
                    {%for cart in customer_cart%}
					<div class="row">

						<div class="col-xs-6">
                            <div class="col-xs-4">
                                <img src="{{cart.product.image.url}}" width="100" height="100" alt="">
                            </div>

                            <div class="col-xs-8">
                                <h4 class="product-name"><strong>{{cart.product.name}}</strong></h4>                           
                            </div>


						</div>
						<div class="col-xs-6">
							<div class="col-xs-3 text-right">
								<h6><strong>{{cart.product.price}}<span class="text-muted"> x </span></strong></h6>
							</div>
							<div class="col-xs-3">
								<input type="text" class="form-control input-sm" value="{{cart.quantity}}">
                            </div>
                            <div class="col-xs-4 text-right">
								<h6><strong> = {{cart.get_total_product_price}}</strong></h6>
							</div>
                            
							<div class="col-xs-2">
                                <form action="/delete/{{cart.id}}/" method="post">{%csrf_token%}
								<button type="submit" class="btn btn-link btn-xs">
									<span class="glyphicon glyphicon-trash"> </span>
                                </button>
                            </form>
							</div>
						</div>
                    </div>
                    {%endfor%}
					<hr>

					<hr>
					<div class="row">
						<div class="text-center">
							<div class="col-xs-9">
								<h6 class="text-right">Added items?</h6>
							</div>
							<div class="col-xs-3">
								<button type="button" class="btn btn-default btn-sm btn-block">
									Update cart
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-9">
							<h4 class="text-right">Total <strong>$00.00</strong></h4>
						</div>
						<div class="col-xs-3">
							<button type="button" class="btn btn-success btn-block">
								Checkout
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4 col-md-12" style="background-color: #383737 ;color: #e3dcdd;">
        <section class="">
            <div class="container">
                <div class="row">
                    <!-- Section Titile -->
                    <div class="col-md-12">
                        <h1 class="section-title">Love to Hear From You</h1>
                    </div>
                </div>
                <div class="row">
                    <!-- Section Titile -->
                    <div class="col-md-6 mt-3 ">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis neque itaque laboriosam animi maiores, magni, eius iusto doloremque aliquid repudiandae libero nulla id consequuntur ut tenetur corrupti dolores ducimus. Molestias!</p>

                        <div class="find-widget">
                            Company: <a href="#">Hollyland Souveniers</a>
                        </div>
                        <div class="find-widget">
                            Address: <a href="#">Bethlehem / Palestine</a>
                        </div>
                        <div class="find-widget">
                            Phone: <a href="#">+ 879-890-9767</a>
                        </div>

                        <div class="find-widget">
                            Website: <a href="#">www.HollylandSouveniers.com</a>
                        </div>

                    </div>
                    <!-- contact form -->
                    <div class="col-md-6">
                        <form method="post">
                            <!-- Name -->
                            <div class="form-group label-floating">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="control-label" for="name">Name</label>
                                    </div>
                                    <div class="col-10">
                                        <input class="form-control" id="name" type="text" name="name" required
                                            data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            </div>
                            <!-- email -->
                            <div class="form-group label-floating">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="control-label" for="email">Email</label>
                                    </div>
                                    <div class="col-10">
                                        <input class="form-control" id="email" type="email" name="email" required
                                            data-error="Please enter your Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            </div>
                            <!-- Subject -->
                            <div class="form-group label-floating">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="control-label">Subject</label>
                                    </div>
                                    <div class="col-10">
                                        <input class="form-control" id="msg_subject" type="text" name="subject"
                                            required data-error="Please enter your message subject">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            </div>
                            <!-- Message -->
                            <div class="form-group label-floating">
                                <div class="row">
                                    <div class="col-2">
                                        <label for="message" class="control-label">Message</label>
                                    </div>
                                    <div class="col-10">
                                        <textarea class="form-control" rows="3" id="message" name="message" required
                                            data-error="Write your message"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                            </div>
                            <!-- Form Submit -->
                            <div class="form-submit ">
                                <button class="btn btn-common" type="submit" id="form-submit"><i
                                        class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <div class="icons">
            <ul class="list-unstyled mb-0">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-pinterest"></a>
            </ul>
        </div>
        <div class="text-center p-3" style="background-color:#383737; color: #e3dcdd;">
            © 2020 Copyright:
            <a class="text-orange" href="#">Hollyland Souveniers</a>
        </div>
    </div>

</footer>
</body>
</html>
