{%extends 'main.html'%}

{%block content%}
    <section id="products">
        <div class="container">
            <div class="d-flex flex-row">
                <div class="text-muted m-2" id="res"></div>
                <div class="ml-auto mr-lg-4">
                    <div id="sorting" class="border rounded p-1 m-1"> <span class="text-muted">Sort by</span> <select
                            name="sort" id="sort">
                            <option value="popularity"><b>Popularity</b></option>
                            <option value="prcie"><b>Price</b></option>
                            <option value="rating"><b>Rating</b></option>
                        </select> </div>
                </div>
            </div>
            <div class="row">
                {%for product in products%}
                <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
                    <div class="card">
                        <img class="card-img-top w-100" src="{{product.image.url}}">
                        <div class="card-body">
                            <h5><b>{{product.name}}</b> </h5>
                            <form action="/addtocart/{{product.id}}" method="post">{%csrf_token%}
                                <div class="d-flex flex-row my-2">
                                    <div class="text-muted">{{product.price}} $</div>
                                    <div class="ml-auto">
                                        <div class='main'>
                                            <input class='counter' name="quantity" type="number" placeholder="value..."
                                                value='1' min="1" autocomplete="off"/>
                                            /pc
                                        </div>
                                    </div>
                                </div>


                                <button type="submit" class="btn w-100 rounded my-2">Add to cart</button>
                            </form>

                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>


{%endblock%}