{%extends 'main.html'%}

{%block content%}


<div class="container">
    <form>


      <div class="form-group">
        <label class="col-md-8 control-label" for="">Name</label>
        <div class="col-md-8">
          <input id="" name="Name" type="text" placeholder="" class="form-control input-md" required>

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-8 control-label" for="">Passport No</label>
        <div class="col-md-8">
          <input id="" name="pasaport No" type="text" placeholder="" class="form-control input-md" required>

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-8 control-label" for="">Postal</label>
        <div class="col-md-8">
          <input id="" name="Postal" type="text" placeholder="" class="form-control input-md" required>

        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-8 control-label" for="">Telephone</label>
        <div class="col-md-8">
          <input id="" name="Telephne" type="text" placeholder="" class="form-control input-md" required>

        </div>
      </div>

      <!-- Textarea -->
      <div class="form-group">
        <label class="col-md-8 control-label" for="">Adress</label>
        <div class="col-md-8">
          <input id="" name="Adress" type="text" placeholder="" class="form-control input-md" required>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-md-8 control-label" for="">Card Number</label>
        <div class="col-md-8">
          <input id="" name="Card Number" type="text" placeholder="" class="form-control input-md" required>

        </div>
      </div>


      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-8 control-label" for="">Card Name</label>
        <div class="col-md-8">
          <input id="" name="Card Name" type="text" placeholder="" class="form-control input-md" required>

        </div>
      </div>
      <div class="form-group">
        <label class="col-md-8 control-label" for="">Card CVC</label>
        <div class="col-md-8">
          <input id="" name="Card CVC" type="text" placeholder="" class="form-control input-md" required>

        </div>
      </div>

        <div class="col-md-8 mt-3">
          <button id="r_btnsend" name="r_btnsend" class="btn btn-primary btn-block"><i class="fa fa-credit-card"></i>Buy</button>



      </div>

    </form>


</div>

{%endblock%}